<h1>Contacts</h1>

<p>Size: {{model.length}}</p>
<p>Contacts with email: {{contactsWithEmail}}</p>

{{outlet}}




{{!-- 

new ember data... 
	- query, find -- new proposal.. 
	- new API, REST,

02/06/2015

- loading pages.. 
- query params..  - in url.. - http://localhost:4200/contacts?showthings=etc.. 
- computer properties..

 --}}



{{!-- this is my old html design table... --}}

{{!-- <h2>Contacts</h2>

<div class="container">
	<div class="row">
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
				<th>Full name</th>
				<th>Phone number</th>
				<th></th>
			</tr>
			</thead>
			<tbody>

			{{#each model as |item|}}

			<tr>
				<td>{{item.name}}</td>
				<td>
				{{#if isShowingPhoneNumber}}
					{{item.phone}}
				{{else}}
					*** - *** - ***
				{{/if}}
				</td>
				<td><button>X</button></td>
			</tr>

			{{/each}}
			<tr>
				<td>{{name}}</td>
				<td>{{phone}}</td>
				<td>&nbsp;</td>
			</tr>

			</tbody>
		</table>
	</div>

	<div class="row">
		<button {{action "toggleShowPhoneNumber"}} class="btn {{if isShowingPhoneNumber 'btn-danger' 'btn-success'}}">
			{{if isShowingPhoneNumber 'Hide' 'Show'}} phone number
		</button>
	</div>
</div>

<div>
	<h3>Add new record</h3>
	<div class="row marginBottom15">
		<div class="col-md-4">{{input type="text" size="43" value=name placeholder="Enter name"}}</div>
		<div class="col-md-4">{{input type="text" size="43" value=phone placeholder="Enter phone number"}}</div>
		<div class="col-md-4"><button {{action "submit"}}>Add</button></div>
	</div>
</div>
 --}}



{{!-- 
<ul>

{{#each model as |item|}}
	<li>{{item.name}} 

	{{#if isShowingPhoneNumber}}
		, {{item.phone}}
	{{else}}
		****-****-****
	{{/if}}

	</li>

{{/each}}
</ul>

 --}}



{{!-- 
	bind-attr??? 
	https://github.com/mozilla/localForage
	https://github.com/genkgo/ember-localforage-adapter


watchman - shutdown.. 

--}}